<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReminderCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Reminder_Center.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReminderCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Reminder_Center.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ReminderCenter.Properties.Settings>
            <setting name="ClientIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateRate" serializeAs="String">
                <value>00:20:00</value>
            </setting>
            <setting name="ApiUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="RescheduleRate" serializeAs="String">
                <value>01:00:00</value>
            </setting>
        </ReminderCenter.Properties.Settings>
        <Reminder_Center.Properties.Settings>
            <setting name="ClientIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateRate" serializeAs="String">
                <value>00:20:00</value>
            </setting>
        </Reminder_Center.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ReminderCenter.Properties.Settings>
            <setting name="TaskbarHeight" serializeAs="String">
                <value>30</value>
            </setting>
        </ReminderCenter.Properties.Settings>
        <Reminder_Center.Properties.Settings>
            <setting name="ApiUsername" serializeAs="String">
                <value>bahmut</value>
            </setting>
            <setting name="ApiPassword" serializeAs="String">
                <value>nartenprelat</value>
            </setting>
            <setting name="TaskbarHeight" serializeAs="String">
                <value>30</value>
            </setting>
        </Reminder_Center.Properties.Settings>
    </applicationSettings>
</configuration>